<div class="lineup-form">
  <div class="attendee-number">
    <div>
      Číslo účastníka
    </div>
    <button mat-icon-button (click)="changeAttendeeNumber(attendeeNumber$.getValue()-1)">
      <mat-icon>arrow_left</mat-icon>
    </button>
    <button mat-stroked-button (click)="showNumber(attendeeNumber$.getValue())">{{attendeeNumber$ | async}}</button>
    <button mat-icon-button (click)="changeAttendeeNumber(attendeeNumber$.getValue()+1);">
      <mat-icon>arrow_right</mat-icon>
    </button>

    <div class="lineup-form__fields">
      <mat-form-field >
        <mat-label>Skupina</mat-label>
        <mat-select (selectionChange)="onGroupChanged($event)" [value]="selectedGroup">
          <mat-option *ngFor="let group of groups$ | async" [value]="group">{{group.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="flexi">
        <mat-label>Soutěžící</mat-label>
        <input matInput [(ngModel)]="note">
      </mat-form-field>
      <button mat-flat-button [color]="'primary'" style="height: 56px;" (click)="save()" *ngIf="!(isEdit$ | async)"><mat-icon>save</mat-icon>Přidat</button>
      <button mat-flat-button [color]="'accent'" style="height: 56px;" (click)="save()" *ngIf="isEdit$ | async"><mat-icon>edit</mat-icon>Uložit</button>
      <button mat-flat-button [color]="'warn'" style="height: 56px;" (click)="delete()" *ngIf="isEdit$ | async"><mat-icon>delete_outline</mat-icon>Smazat</button>
    </div>

  </div>
</div>
<ag-grid-angular
  class="ag-theme-quartz"
  [columnDefs]="colDefs"
  [rowData]="attendees$ | async"
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
