:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .buttonToggleWrapper {
    margin-bottom: -.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }
}


::ng-deep {
  .refereeNum {
    color: silver
  }
  .note {
    .refereeNum {
      color: #000;
    }
    b {
      font-weight: normal;
      color: silver
    }
  }
}


.ag-theme-quartz {
  flex-grow: 1;
}

