:host{
  display: block;
  height: 100%;
  width: 100%;
}

.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}


.dialog-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
